.sidebar {
    height: 100vh;
    /* width: 100px; */
    width: 240px;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0 1.3rem;
    background-color: #28a745;
    position: sticky;
    overflow: hidden;
}
/* .sidebar:hover{
    width: 240px;
    transition: 0.5s ease-in-out;
} */
.logo {
    height: 80px;
    padding: 15px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

    .logo img {
        width: 80px;
        height: 80px;
    }

ul {
    list-style: none;
    height: 88%;
    position: relative;
    padding: 0;
}

    ul li {
        padding: 1.2rem;
        margin: 8px 0px;
        border-radius: 8px;
    }

        ul li:hover, .active {
            background-color: white;
        }

            ul li.active a, ul li.active i, ul li:hover a, ul li:hover i {
                color: #7ed957;
                text-decoration:none;
            }

    ul a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.6rem;
    }

    ul span {
        overflow: hidden;
    }

    ul i {
        font-size: 1.1rem;
    }
   

.logout {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}